{% extends "post/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block title %}
    {% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <div class="product-detail">
    <div class="card my-4" style="width: 400px; background-color: #E3ABAE;">
        <div class="card-body" style="margin: auto;">
        <img src="{{ product.image.url }}" style="width: 320px;"/>
        <h1 class="card-text">{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">{{ product.price }} ₽</p>
        {{ product.description }}
            </div>
    </div>
    </div>
    
    <p class="price">{{ product.price }} ₽</p>
    <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Добавить в корзину">
    </form>
{% endblock %}