{% extends "post/base.html" %}
{% load bootstrap5 %}
{% block title %}Back to order{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <h1>Back to order</h1>
    <div class="order-info">
        <h3>Your order</h3>
        <ul>
            {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name }}
                    <span>{{ item.total_price }} ₽</span>
                </li>
            {% endfor %}
        {% if cart.coupon %}
            <li>
                "{{ cart.coupon.code }}" ({{ cart.coupon.discount }}% off)
                <span>- {{ cart.get_discount|floatformat:"2" }} ₽</span>
            </li>
        {% endif %}
        </ul>
        <p>Total: {{ cart.get_total_price_after_discount|floatformat:"2" }} ₽</p>
    </div>
    <div class="card" style="padding: 10px; margin: 20px 20px; align-items: center; background-color: #F0CAD0; width: 350px;">
    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}